In [6]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import rcParams
rcParams['figure.figsize'] = 1,4

import time

In [11]:
my_df = pd.read_csv("College.csv")
my_df.shape
my_df.head()

,Unnamed: 0,School Name,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,1,University of Portland,Yes,1758,1485,419,27,58,2041,174,12040,4100,600,1100,92,96,13.2,17,9060,72
1,2,SUNY at Binghamton,No,14463,6166,1757,60,94,8544,671,6550,4598,700,1000,83,100,18.0,15,8055,80
2,3,Pfeiffer College,Yes,838,651,159,11,25,654,162,8640,3700,400,1915,62,62,12.2,13,7634,48
3,4,North Central College,Yes,1127,884,308,30,64,1310,766,11718,7398,450,1800,73,87,16.4,33,8871,76
4,5,Indiana Wesleyan University,Yes,735,423,366,20,48,2448,707,9210,3782,700,1000,49,51,39.8,15,6562,34

In [16]:
import nbinteract as nbi

def normal(mean, sd):
    '''Returns 1000 points drawn at random fron N(mean, sd)'''
    return np.random.normal(mean, sd, 1000)

# Plot aesthetics
options = {
    'xlim': (-2, 12),
    'ylim': (0, 0.7),
    'bins': 20
}

# Pass in the `normal` function and let user change mean and sd.
# Whenever the user interacts with the sliders, the `normal` function
# is called and the returned data are plotted.
nbi.hist(normal, mean=(0, 10), sd=(0, 2.0), options=options)

VBox(children=(interactive(children=(IntSlider(value=5, description='mean', max=10), FloatSlider(value=1.0, deâ€¦